[submodule "Building-Cloud-Computing-Solutions-at-Scale-Specialization"]
	path = Building-Cloud-Computing-Solutions-at-Scale-Specialization
	url = https://github.com/thanhtcptit/Building-Cloud-Computing-Solutions-at-Scale-Specialization
[submodule "DevOps-on-AWS-Specialization"]
	path = DevOps-on-AWS-Specialization
	url = https://github.com/thanhtcptit/DevOps-on-AWS-Specialization
[submodule "Mathematics-for-ML-Specialization"]
	path = Mathematics-for-ML-Specialization
	url = https://github.com/thanhtcptit/Mathematics-for-ML-Specialization
[submodule "Natural-Language-Processing-Specialization"]
	path = Natural-Language-Processing-Specialization
	url = https://github.com/thanhtcptit/Natural-Language-Processing-Specialization
[submodule "Statistics-with-Python-Specialization"]
	path = Statistics-with-Python-Specialization
	url = https://github.com/thanhtcptit/Statistics-with-Python-Specialization
[submodule "Recommender-System-Specialization"]
	path = Recommender-System-Specialization
	url = https://github.com/thanhtcptit/Recommender-System-Specialization
[submodule "Practical-Time-Series-Analysis"]
	path = Practical-Time-Series-Analysis
	url = https://github.com/thanhtcptit/Practical-Time-Series-Analysis
[submodule "Parallel-Concurrent-and-Distributed-Programming-in-Java-Specialization"]
	path = Parallel-Concurrent-and-Distributed-Programming-in-Java-Specialization
	url = https://github.com/thanhtcptit/Parallel-Concurrent-and-Distributed-Programming-in-Java-Specialization
[submodule "I211E-Mathematical-Logic"]
	path = I211E-Mathematical-Logic
	url = https://github.com/thanhtcptit/I211E-Mathematical-Logic
[submodule "I232E-Information-Theory"]
	path = I232E-Information-Theory
	url = https://github.com/thanhtcptit/I232E-Information-Theory
[submodule "I214E-System-Optimization"]
	path = I214E-System-Optimization
	url = https://github.com/thanhtcptit/I214E-System-Optimization
[submodule "I213E-Discrete-Signal-Processing"]
	path = I213E-Discrete-Signal-Processing
	url = https://github.com/thanhtcptit/I213E-Discrete-Signal-Processing
[submodule "I217E-Functional-Programming"]
	path = I217E-Functional-Programming
	url = https://github.com/thanhtcptit/I217E-Functional-Programming
[submodule "I226E-Computer-Networks"]
	path = I226E-Computer-Networks
	url = https://github.com/thanhtcptit/I226E-Computer-Networks
